# Estatítica do Brasileirão

In [1]:
# Importar as bibliotecas
import pandas as pd
import numpy as np

In [2]:
# Carregar o dataframe
df = pd.read_csv('campeonato-brasileiro-full.csv', sep=';')

In [3]:
# Mostrar os primeiros registros do dataframe
df.head()

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,1,1,2000-07-29,16h00,Sábado,Fluminense,Bahia,Fluminense,Maracanã,2.0,0.0,RJ,BA,RJ
1,2,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0.0,2.0,RJ,PE,PE
2,3,1,2000-07-29,16h00,Sábado,Vitória,Palmeiras,Vitória,Barradão,4.0,1.0,ES,SP,ES
3,4,1,2000-07-30,17h00,Domingo,Botafogo-RJ,Atlético-MG,-,Caio Martins,0.0,0.0,RJ,MG,-
4,5,1,2000-07-30,18h30,Domingo,Juventude,Flamengo,-,Alfredo Jaconi,1.0,1.0,RS,RJ,-

In [4]:
# Localizar a linha 310
df.loc[310]

ID                           311
Rodada              SEGUNDA FASE
Data                  2000-11-26
Horário                    17h00
Dia                      Domingo
Mandante                CRUZEIRO
Visitante               MALUTROM
Vencedor                       -
Arena                   Mineirão
Mandante Placar              1.0
Visitante Placar             1.0
Estado Mandante               MG
Estado Visitante              PR
Estado Vencedor                -
Name: 310, dtype: object

In [5]:
# Localizar a linha 310, mandante, visitante e data do jogo
df.loc[310][{'Mandante','Visitante','Data'}]

Data         2000-11-26
Visitante      MALUTROM
Mandante       CRUZEIRO
Name: 310, dtype: object

In [6]:
# Criação de uma nova coluna no dataframe
df['Total de Gols'] = df['Mandante Placar'] + df['Visitante Placar']

In [7]:
# Total geral de gols
df['Total de Gols'].sum()

22244.0

In [8]:
# Qual o horário que teve mais jogos
df['Horário'].value_counts().head()

16h00    1804
20h30     683
18h30     643
16:00     514
18h10     506
Name: Horário, dtype: int64

In [9]:
# QUal o horário que teve menos jogos
df["Horário"].value_counts().sort_values().head()

18:45    1
21:46    1
15:00    1
09h00    1
22h30    1
Name: Horário, dtype: int64

In [10]:
# Qual o dia da semana teve mais jogos
df['Dia'].value_counts().head()

Domingo          3859
Sábado           1925
Quarta-feira     1559
Quinta-feira      657
Segunda-feira     108
Name: Dia, dtype: int64

In [11]:
# Coloca o nome do Mandante e Visitante em maiusculo
df['Mandante'] = df['Mandante'].str.upper()
df['Visitante'] = df['Visitante'].str.upper()
df.head()

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor,Total de Gols
0,1,1,2000-07-29,16h00,Sábado,FLUMINENSE,BAHIA,Fluminense,Maracanã,2.0,0.0,RJ,BA,RJ,2.0
1,2,1,2000-07-29,16h00,Sábado,VASCO,SPORT,Sport,São Januário,0.0,2.0,RJ,PE,PE,2.0
2,3,1,2000-07-29,16h00,Sábado,VITÓRIA,PALMEIRAS,Vitória,Barradão,4.0,1.0,ES,SP,ES,5.0
3,4,1,2000-07-30,17h00,Domingo,BOTAFOGO-RJ,ATLÉTICO-MG,-,Caio Martins,0.0,0.0,RJ,MG,-,0.0
4,5,1,2000-07-30,18h30,Domingo,JUVENTUDE,FLAMENGO,-,Alfredo Jaconi,1.0,1.0,RS,RJ,-,2.0

In [12]:
# Qual foi o time que mais impatou como mandante
df[df['Vencedor'] == '-']['Mandante'].value_counts().head()

FLUMINENSE     108
SÃO PAULO      106
FLAMENGO       104
CORINTHIANS    101
SANTOS         101
Name: Mandante, dtype: int64

In [13]:
# Qual foi o time que mais impatou como mandante
df[df['Vencedor'] == '-']['Mandante'].value_counts().head()

FLUMINENSE     108
SÃO PAULO      106
FLAMENGO       104
CORINTHIANS    101
SANTOS         101
Name: Mandante, dtype: int64

In [14]:
# Qual foi o time que mais impatou como visitante
df[df['Vencedor'] == '-']['Visitante'].value_counts().head()

CORINTHIANS    114
FLAMENGO       110
GRÊMIO         109
SÃO PAULO      108
ATLÉTICO-MG    106
Name: Visitante, dtype: int64

In [15]:
# Criar um novo dataframe agrupado por mandante
df_mandante = df.groupby('Mandante')
df.head()

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor,Total de Gols
0,1,1,2000-07-29,16h00,Sábado,FLUMINENSE,BAHIA,Fluminense,Maracanã,2.0,0.0,RJ,BA,RJ,2.0
1,2,1,2000-07-29,16h00,Sábado,VASCO,SPORT,Sport,São Januário,0.0,2.0,RJ,PE,PE,2.0
2,3,1,2000-07-29,16h00,Sábado,VITÓRIA,PALMEIRAS,Vitória,Barradão,4.0,1.0,ES,SP,ES,5.0
3,4,1,2000-07-30,17h00,Domingo,BOTAFOGO-RJ,ATLÉTICO-MG,-,Caio Martins,0.0,0.0,RJ,MG,-,0.0
4,5,1,2000-07-30,18h30,Domingo,JUVENTUDE,FLAMENGO,-,Alfredo Jaconi,1.0,1.0,RS,RJ,-,2.0

In [16]:
# Mostrar o time mandante com maior número de gols
df_mandante['Mandante Placar'].sum().sort_values(ascending=False).head()

Mandante
SANTOS         745.0
SÃO PAULO      697.0
ATLÉTICO-MG    670.0
CRUZEIRO       668.0
GRÊMIO         648.0
Name: Mandante Placar, dtype: float64

In [17]:
# Criar uma coluna apenas com o ano da partidade
df['Ano'] = df['Data'].apply(lambda data : data.split('-')[0])

AttributeError: 'float' object has no attribute 'split'

In [18]:
# Qual o time que mais empatou como mandante no ano de 2019?