# Deletando registros duplicados

In [1]:
#Importando as bibliotecas
import pandas as pd

In [7]:
records = [{"id": 1, "age": 40},
           {"id": 2, "age": 24},
           {"id": 1, "age": 40}]
df = pd.DataFrame(records)
df

   id  age
0   1   40
1   2   24
2   1   40

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df

   id  age
0   1   40
1   2   24