# Replace com Pandas

In [1]:
#Importando as bibliotecas
import pandas as pd

In [2]:
records = [{"id": 1, "married":1},
           {"id": 2, "married":0},
           {"id": 3, "married":0}]

In [3]:
df = pd.DataFrame.from_records(records)
df

   id  married
0   1        1
1   2        0
2   3        0

In [5]:
df['married'].replace({0: "No", 1:"Yes"}, inplace=True)
df

   id married
0   1     Yes
1   2      No
2   3      No