# Como construir um DataFrame a partir de um dicion치rio

Vamos ver neste post como criar um dataframe a partir de um dicion치rio (objeto).

In [1]:
# Primeiro temos que importar a biblioteca pandas para criar o nosso dataframe.

import pandas as pd

In [2]:
# Agora, vamos criar um objeto dicion치rio de exemplo.

obj = {'col1': [1, 2], 'col2': [3, 4]}

In [3]:
# Com o objeto podemos criar o dataframe passando-o como par칙metro data.

df = pd.DataFrame(data=obj)
df

   col1  col2
0     1     3
1     2     4