# Introdução aos DataFrames – Python

Este artigo demonstra várias APIs comuns do PySpark DataFrame usando Python.

Um DataFrame é uma estrutura de dados rotulada bidimensional com colunas de tipos potencialmente diferentes. 

Você pode pensar em um DataFrame como uma planilha, uma SQL ou um dicionário de objetos de série. 

Para obter mais informações e exemplos, consulte o Início Rápido no site Apache Spark documentação.

https://docs.microsoft.com/pt-br/azure/databricks/spark/latest/dataframes-datasets/introduction-to-dataframes-python

In [2]:

!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=298911f6c9fd6c9faefc7c23b81f317153086247e587c346e0704db2947381da
  Stored in directory: c:\users\eduardo.mendes\appdata\local\pip\cache\wheels\2f\f8\95\2ad14a4614b4a9f645ee928fbbd057b1b254c67adb494c9a58
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

# Criar DataFrames

In [3]:
# import pyspark class Row from module sql
from pyspark.sql import *

In [4]:
# Create Example Data - Departments and Employees

# Create the Departments
department1 = Row(id='123456', name='Computer Science')
department2 = Row(id='789012', name='Mechanical Engineering')
department3 = Row(id='345678', name='Theater and Drama')
department4 = Row(id='901234', name='Indoor Recreation')

In [5]:
# Create the Employees
Employee = Row("firstName", "lastName", "email", "salary")
employee1 = Employee('michael', 'armbrust', 'no-reply@berkeley.edu', 100000)
employee2 = Employee('xiangrui', 'meng', 'no-reply@stanford.edu', 120000)
employee3 = Employee('matei', None, 'no-reply@waterloo.edu', 140000)
employee4 = Employee(None, 'wendell', 'no-reply@berkeley.edu', 160000)
employee5 = Employee('michael', 'jackson', 'no-reply@neverla.nd', 80000)

In [6]:
# Create the DepartmentWithEmployees instances from Departments and Employees
departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4])
departmentWithEmployees3 = Row(department=department3, employees=[employee5, employee4])
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3])

In [7]:
print(department1)

Row(id='123456', name='Computer Science')

In [8]:
print(employee2)

Row(firstName='xiangrui', lastName='meng', email='no-reply@stanford.edu', salary=120000)

In [9]:
print(departmentWithEmployees1.employees[0].email)

no-reply@berkeley.edu

# Criar DataFrames de uma lista de linhas

In [10]:
departmentsWithEmployeesSeq1 = [departmentWithEmployees1, departmentWithEmployees2]
df1 = spark.createDataFrame(departmentsWithEmployeesSeq1)

display(df1)

NameError: name 'spark' is not defined