# pandas.DataFrame.loc

propriedade DataFrame.loc

Acesse um grupo de linhas e colunas por rótulo(s) ou uma matriz booleana.

.loc[] é principalmente baseado em label, mas também pode ser usado com uma matriz booleana.

As entradas permitidas são:

Um único label, por exemplo, 5 ou 'a', (observe que 5 é interpretado como um  label do índice e nunca como uma posição inteira ao longo do índice).

Uma lista ou matriz de  label, por exemplo .['a', 'b', 'c']

Um objeto de fatia com  labels, por exemplo 'a':'f'.

Uma matriz booleana do mesmo comprimento que o eixo sendo fatiado, por exemplo .[True, False, True]

Uma série booleana alinhada. O índice da chave será alinhado antes do mascaramento.

Um índice alinhado. O Índice da seleção retornada será a entrada.

Uma callablefunção com um argumento (a série de chamada ou DataFrame) e que retorna uma saída válida para indexação (uma das opções acima)

# Examples

In [2]:
# Importando a biblioteca
import pandas as pd

# Getting values

In [3]:
# Criando um DataFrame
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [4]:
# Retornando uma label única

# O retorno é uma série
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [7]:
# Retornando uma lista de labels.

# Note que é usando o [[]] para retornar um DataFrame.
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [9]:
# Retornando uma única label indicando linha e coluna

df.loc['cobra', 'shield']

2

In [11]:
# Fatia uma label para linha e rótulo único para coluna. 

# Conforme mencionado acima, observe que o início e a parada da fatia estão incluídos.

df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [14]:
# Boolean list with the same length as the row axis

df.loc[[False, True, False]]

       max_speed  shield
viper          4       5

In [15]:
# Alignable boolean Series:

df.loc[pd.Series([False, True, False],
       index=['viper', 'sidewinder', 'cobra'])]

            max_speed  shield
sidewinder          7       8

In [17]:
# Index (same behavior as df.reindex)

df.loc[pd.Index(["cobra", "viper"], name="foo")]

       max_speed  shield
foo
cobra          1       2
viper          4       5

In [18]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [24]:
# Conditional that returns a boolean Series

df.loc[df['shield'] > 5]

            max_speed  shield
sidewinder          7       8

In [25]:
# Conditional that returns a boolean Series with column labels specified

df.loc[df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          7

In [26]:
# Callable that returns a boolean Series

df.loc[lambda df: df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

# Setting values

In [27]:
# Set value for all items matching the list of labels

df.loc[['viper', 'sidewinder'], ['shield']] = 50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [28]:
# Set value for an entire row

df.loc['cobra'] = 10
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

In [29]:
# Set value for an entire column

df.loc[:, 'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

In [30]:
# Set value for rows matching callable condition

df.loc[df['shield'] > 35] = 0
df

            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

# Getting values on a DataFrame with an index that has integer labels

In [31]:
# Another example using integers for the index

df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=[7, 8, 9], columns=['max_speed', 'shield'])
df

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [34]:
# Slice with integer labels for rows. As mentioned above, note that both the start and stop of the slice are included.

df.loc[7:9]

   max_speed  shield
7          1       2
8          4       5
9          7       8

# Getting values with a MultiIndex

In [36]:
# A number of examples using a DataFrame with a MultiIndex

tuples = [
   ('cobra', 'mark i'), ('cobra', 'mark ii'),
   ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
   ('viper', 'mark ii'), ('viper', 'mark iii')
]
index = pd.MultiIndex.from_tuples(tuples)
values = [[12, 2], [0, 4], [10, 20],
        [1, 4], [7, 1], [16, 36]]
df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
df

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [37]:
# Single label. Note this returns a DataFrame with a single index.

df.loc['cobra']

         max_speed  shield
mark i          12       2
mark ii          0       4

In [38]:
# Single index tuple. Note this returns a Series.

df.loc[('cobra', 'mark ii')]

max_speed    0
shield       4
Name: (cobra, mark ii), dtype: int64

In [39]:
# Single label for row and column. Similar to passing in a tuple, this returns a Series.

df.loc['cobra', 'mark i']

max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64

In [40]:
# Single tuple. Note using [[]] returns a DataFrame.

df.loc[[('cobra', 'mark ii')]]

               max_speed  shield
cobra mark ii          0       4

In [41]:
# Single tuple for the index with a single label for the column

df.loc[('cobra', 'mark i'), 'shield']

2

In [42]:
# Slice from index tuple to single label

df.loc[('cobra', 'mark i'):'viper']

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [43]:
# Slice from index tuple to index tuple

df.loc[('cobra', 'mark i'):('viper', 'mark ii')]

                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1