# Como criar um DataFrame vazio

In [2]:
# Para criar um dataframe com o pandas, primeiro nós temos que importar o pandas.
import pandas as pd

In [5]:
# Agora, podemos criar o nosso dataframe.
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [6]:
# Além disso, nós podemos já definir as colunas do nosso dataframe na criação.
COLUNAS = [
    'Coluna-1',
    'Coluna-2',
    'Coluna-3',
    'Coluna-4'
]

df = pd.DataFrame(columns=COLUNAS)
df

Empty DataFrame
Columns: [Coluna-1, Coluna-2, Coluna-3, Coluna-4]
Index: []